@{
    ViewData["Title"] = "Home Page";
}

<!--------------------
          START - Breadcrumbs
          -------------------->
<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Accounting</a>
    </li>
    <li class="breadcrumb-item">
        <span>Dashboard</span>
    </li>
</ul>

<!--------------------
END - Breadcrumbs
-------------------->
<div class="content-i">
    <div class="content-box">
        <div class="row">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <h6 class="element-header">
                        Dashboard
                    </h6>
                    <div class="element-content">
                        <div class="row">
                            <div class="col-sm-12 col-xxxl-3">
                                <a class="element-box el-tablo" href="#">
                                    <center><h4>This page is under development. To be finalized after client interaction.</h4></center>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>